# Github and CI/CD
.github

# backup files
.backup/
*.bak**

# development
.codacy/
.github/instructions/
.nvmrc

# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# deployment
.vercel/
.netlify/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# public files
/public/resume.pdf

#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

# lock files
yarn.lock
package-lock.json
# pnpm-lock.yaml
pnpm-workspace.yaml

# .md files
VSCODE.md
ASTRO.md